$spaceH: 4vw;
$spaceV: 1vh;
$bgDark: #792879;
$fontDark: #792879;
$bgLight: lighten(#792879, 60%);
$fontLight: #fff;
$font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$fontSize: 10px;